:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #e6f3ff;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}


/* REACT */
.navbar {
    width: 100%;
    background-color: #dfdfdf;
    padding-left: 25px;
}

.img-thumbnail {
    width: 90px;
    background-color: transparent;
}

.avion {
    width: 450px;
    height: auto;
    position: absolute;
    left: -12%;
    top: 300px;
    transition: .5s;
    cursor: pointer;
}


.avion:hover {
    transform: rotate(10deg);
}

.card {
    background-color: #4b3568;
    color: white;

    box-shadow: 2px 2px 10px #000000;
    overflow: hidden;
    transition: .4s;
}

.cartItems {
    width: 500px;
}

.trashLogo {
    width: 20px;
    cursor: pointer;
}

.calendarContainer {
    background-color: transparent;
    border: none;
}

.calendarContainer img {
    width: 60px !important;
}

.calendarContainer span {
    width: 20px;
    height: 22px;
}

.logoTravel {
    width: 180px;
}

.typedContainer {
    width: 100%;
    font-size: 20px;
    position: absolute;
    top: 180px;
}

.card-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-container .card {
    width: 100%;
    height: 600px;
}

.itemDetailContainer .col {
    gap: 150px;
    font-size: 30px;
}

.itemDetailContainer .col h1 {
    font-size: 20px;
}

.itemDetailContainer .col h3 {
    font-size: 40px;
}



